streamlit
pandas
ollama
langchain
langchain-classic
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
sentence-transformers
faiss-cpu
openpyxl
docx2txt
pypdf
tabulate
langgraph
pydantic
rank_bm25
torch
scikit-learn
scipy
transformers
fastapi
uvicorn
python-multipart